$light_acc_color: #f1e9da;
$accent_color: #AA9C74;
@media (max-width: 1200px) {
  .theory-page {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .theory-page {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .theory-page {
    max-width: none;
  }
}
.theory-page {
  position: relative;
  display: flex;
  left: 0;
  top: 0;
  margin-top: 6%;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  .laws{
    padding: 1% 10% 4% 10%;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 300px 0 0;
    .law {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $light_acc_color;
      padding: 30px 0;
      .header {
        font-size: calc(10px + (10 + 10 * 0.7) * ((100vw - 320px) / 1200));
        letter-spacing: 2px;
        margin: 25px 0;
        &:hover {
          color: $accent_color;
        }
      }
      .description {
        display: flex;
        flex-direction: row;
        position: relative;
        .poster-img {
          max-width: 325px;
          max-height: 180px;
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          overflow: hidden;

          img {
            position: relative;
            max-width: 325px;
            max-height: 180px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
          }
        }
        .info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: calc(9px + (8 + 8 * 0.7) * ((100vw - 320px) / 1200));
          margin: 0 10px 0 20px;
          letter-spacing: 0.5px;
          &:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;

          }
        }
        .formula {
          color: black;
          text-decoration: none;
          &:hover + div {
            display: block;
          }
        }
        .formula-div {
          margin: 7px 0;
          display: none;
        }
      }
    }
  }
  .navigation {
    margin: 0 5% 0 0;
    font-size: calc(5px + (8 + 8 * 0.7) * ((100vw - 320px) / 1200));
    position: fixed;
    bottom: 60%;
    right: 1%;
    transform: translate(0, 50%);
    p {
      height: 100%;
      max-height: 125px;
      padding: 0.5%;
      margin-bottom: 5%;
      &::before {
        content: "\25EF";
        margin-right: 5%;
      }
      a {
        text-decoration: none;
        color: black;
        &:active {
          color: $accent_color;
        }
      }
    }
  }
  #reflection, #refraction, #full_reflection, #purpose, #principle {
    padding-top: 95px;
    margin-top: -95px;
  }
}