* {
  margin: 0;
  padding: 0;
}

@import "scss_files/fonts.scss";
@import "scss_files/NavBar";
@import "scss_files/MainPage";
@import "scss_files/TheoryPage";
@import "scss_files/StructurePage";
@import "scss_files/AboutPage";

@media (max-width: 1200px) {
  .page {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .page {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .page {
    max-width: none;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app {
  font-family: "Exo";
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 767px;
}
